body {
    margin-bottom:3vh;
    border-bottom:2px solid lightgray;
    background-color: #f8efe2;
  }
  a {
    text-decoration-line: none;
    color:black;
  }
  h1 {
    color:white;
    font-size:50px;
    text-align:center;
    border-bottom:2px solid lightgray;
    margin:0px;
    height:78px;
  }
  h2 {
    border-bottom:2px solid lightgray;
    margin-top:30px;
    margin-bottom:30px;
  }
  #grid {
    display:grid;
    grid-template-columns:140px 1fr;
  }
  #grid ol {
    border-right:2px solid lightgray;
    width:50px;
    margin: 0px;
    padding-top:20px;
    padding-right:20px;
    line-height: 1.7em;
  }
  #grid div {
    padding-left:20px;
    padding-right:30px;
  }
  #lobby {
    display: inline;
    float: right;
    margin-right:20px;
    font-weight:bold;
    border-bottom:2px solid lightgray;
  }
  ul {
    line-height: 2.7em;
    display:block;
    margin-bottom:9vh;
    padding-right:10px;
    padding-top:10px;
    border: 2px solid lightgray;
  }
  @media(max-width:800px) {
    #grid {
    display:block;
    }
    #grid div {
    padding-left:20px;
    border-top:3px solid lightgray;
    }
    #grid ol {
     border-right:none;
     padding-bottom:33px;
    }
